/* Header */
@import "./css/header/header.css";

/* Introdução */
@import "./css/introducao/viagem.css";

/* Países */
@import "./css/paises/paises.css";
@import "./css/paises/tickets.css";

/* Contato */
@import "./css/contato/contato.css";

/* Footer */
@import "./css/footer/footer.css";

/* Elementos */
@import "./css/elementos/elementos.css";
@import "./css/elementos/global.css";
@import "./css/elementos/tipografia.css";
@import "./css/elementos/cores.css";
