.container {
  max-width: 1400px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.botao {
  display: block;
  justify-self: start;
  background-color: #666666;
  padding: 10px 16px;
  color: white;
}
