.container {
  max-width: 1400px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.container-paises {
  max-width: 1400px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.botao {
  justify-self: start;
  padding: 10px 16px;
  color: var(--cor-0);
}
