.contato-email {
  background-color: rgb(88, 88, 88);
  padding: 50px 20px;
  color: var(--cor-0);
  margin-bottom: 60px;
}

.contato-email h1 {
  margin-bottom: 20px;
}

.contato-email span {
  display: block;
  margin-bottom: 15px;
}

.contato-email form {
  margin-bottom: 30px;
}

.contato-email label {
  display: block;
}

.contato-email input {
  padding: 10px 0px;
  padding-left: 10px;
  font-size: 1rem;
  width: 98%;
}

.contato-email a {
  color: var(--cor-0);
  background-color: darksalmon;
}

.contato {
  margin-bottom: 60px;
}

.contato h2 {
  margin-bottom: 20px;
}

.contato span {
  display: block;
  margin-bottom: 20px;
}

.contato ul {
  margin-bottom: 20px;
}

.contato ul li {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 5px;
}

.contato li a {
  color: var(--cor-12);
}

.contato ul li:first-child::before {
  content: "";
  display: inline-block;
  background-image: url(/imagens/icones/localizacaoimagem-localizacao.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.contato ul li:nth-child(2)::before {
  content: "";
  display: inline-block;
  background-image: url(/imagens/icones/telefone.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.contato ul li:last-child::before {
  content: "";
  display: inline-block;
  background-image: url(/imagens/icones/email.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.contato form {
  margin-bottom: 30px;
}

.contato form input {
  display: grid;
  grid-column: 1 / -1;
  width: 100%;
  padding: 20px 0px;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 2px solid #a5a5a5;
}

.contato form textarea {
  font-size: 1rem;
  padding: 10px 0px;
  padding-left: 10px;
  border: 2px solid #a5a5a5;
  resize: none;
  width: 100%;
  height: 50%;
}

.contato > a {
  background-color: var(--cor-12);
}
